.sb-message {
	position: absolute !important;
	top: 0;
	width: 180px !important;
	opacity: 0;
	background-color: #384a57;
    padding-top: 0 !important;
    padding-right: 8px !important;
    padding-bottom: 0 !important;
    padding-left: 7px !important;
}

.sb-loading::before {
    content:  url("../img/loading.svg");
    width: 30px;
    height: 100%;
    padding: 0px !important;
}

.sb-error {
	font-weight: 500 !important;
	color: #da7676;
}
